<div class="container-fluid">   
  <%= form_tag results_path, method: :get do %>
    <div class="row">
      <div class="col-lg-8 column-center" >
        <div class="col-md-4"> 
          <div class="form-group">
          <label for="City1">City 1</label>
             <%= text_field_tag :location, "", class: "form-control", placeholder: "Miami" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="City2">City 2</label>
            <%= text_field_tag :location2, "", class: "form-control", placeholder: "Barcelona" %> 
          </div>
        </div>  
        <div class="col-md-4">
          <div class="form-group">
            <label for="days">Day</label>
            <%= select_tag(:day_id, options_for_select([['Thursday', 0],['Friday', 1], ['Saturday', 2],['Sunday',3],['Monday',4],['Tuesday',5]]), class:'form-control') %> 
          </div>
        </div>
      </div>
    </div>  
    <div class="row">
       <div class="col-md-3 column-center">
        <div class="form-group">
          <div class="text-center">
            <button class="btn btn-block btn-danger btn-lg" type="submit" data-disable-with="Muy Caliente!" data-toggle="modal" data-target=".bs-example-modal-lg">Turn Up The Heat</button>
          </div>
        </div>
      </div>
    </div> 
  <% end %> 
</div>
 