<header>
  


</header>

<body>
  
  
  <h2 class="animated slideInUp" id="headline"> Global warming isn't a prediction. <br> It is happening. - James Hansen </h2>

  <p class="animated slideInUp" id="headline"><%= image_tag("climate.jpg", width: "437", height: "400", alt: "Heat") %></p>

  <h3 class="animated slideInUp" id="headline">Scientific evidence for warming of the climate system is unequivocal. - Intergovernmental Panel on Climate Change</h3>

 

</body>