
<div class="global"></div>

<h2 class="animated FadeIn" id="quote"> Global warming isn't a prediction.  It is happening.</h2>

<div class="desert"></div>

<h2 class="animated FadeIn" id="quote"> By the year 2020, body odor will be rampant.</h2>

<div class="head"></div>

<div class="float-text">
  <div class="image"> 
    <%= image_tag('usa-temp.png')%>
  </div>
  <h2>The USA will stink more than Swiss Cheese.</h2>
</div>

<div class="stinky"></div>

<h2 class="animated FadeIn" id="quote"> Temperature is rising and body odor is increasing!</h2>

<div class="jumbotron" id="slogan">
  <div class="text-center">  
    <h1>The fight is on! Which city is hotter?</h1> 
  </div>
  <%= render 'form' %>

</div>





 
